text.biotea_dist-topic-label, text.biotea_dist-legend-label {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: black;
}

.biotea_dist_shadow, .biotea_dist_secondary_shadow {
    fill: none;
    stroke: black;
}

.biotea_dist_shadow {
    stroke-width: 3;
}
